.subnav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.subnav ul{
  display: flex;
  justify-content: start;
  gap: 15px;
  max-width: 1200px;
  width: 100%;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  color: #002f34;
}

.subnav ul li{
  cursor: pointer;
  transition: all 0.3s;
}

.subnav ul li:first-child{
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.subnav ul li:hover{
  transform: scale(1.05);
}

.subnav .menu{
  display: none;
  align-items: start;
  justify-content: start;
  width: 100%;
  gap: 25px;
}

.subnav .menu .tall-menu{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.subnav .menu .tall-menu.open{
  max-height: 260px;
}


.subnav .menu-icon{
  display: inline-flex;
  border: 1px solid #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.subnav .menu-icon:hover{
  background-color: #002f342f;
}

@media (max-width: 1024px) {

  .subnav{
    padding: 20px;
    align-items: start;
  }

  .subnav ul{
    flex-direction: column;
    align-items: start;
  }

  .subnav .menu{
    display: inline-flex;
  }

  .subnav .wide-menu{
    display: none;
  }
}
