.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
  padding: 40px 0;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px 0 60px;
  width: 100%;
}

.product-list-title{
  text-align: left;
  margin-top: 40px;
  color: black;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
}

.banner, .banner img{
  width: 100%;
  object-fit: cover;
}

.empty-list{
  border: 3px solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5%;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 153, 0);
  border-radius: 20px;
}

@media (max-width: 1024px){
  .card-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .card-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {

  .card-container{
    grid-template-columns: repeat(1, 1fr);
  }
}